@font-face {
  font-family: 'PFBagueSans';
  src: url('../fonts/PFBagueSansPro-Light.otf');
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}
a {
  text-decoration: none;
}
body {
  line-height: 1;
  font-family: 'PFBagueSans';
  color: #000;
  background: url('../img/bg.png') no-repeat center center;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}
html,
body {
  min-height: 100%;
}
.clear {
  clear: both;
}
.inner {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
#wrapper:after {
  content: "";
  display: block;
}
footer,
#wrapper:after {
  height: 149px;
}
#wrapper {
  min-height: 100%;
  margin-bottom: -149px;
}
#logo {
  float: left;
  margin: 50px 0 0 115px;
  display: block;
  width: 345px;
  height: 67px;
  background: url('../img/logo.png') no-repeat;
}
#menutop {
  float: right;
  margin: 35px 85px 0 0;
}
#menutop li {
  position: relative;
  display: inline-block;
  margin-right: 15px;
  vertical-align: top;
}
#menutop li a {
  font-size: 22px;
  color: #000;
}
#menutop li a:hover {
  color: #0688cc;
}
#menutop li.second-level:hover ul {
  display: block;
}
#menutop li ul {
  display: none;
  position: absolute;
  left: -60px;
}
#menutop li ul li {
  width: 190px;
  display: block;
  margin: 15px 0 0 0;
  text-align: center;
}
#menutop li ul li a {
  font-size: 14px;
  padding: 5px;
}
#menutop li ul li a:hover {
  background: #fff;
  color: #000;
}
#content {
  margin-top: 60px;
}
#content .serviceblock img {
  width: 457px;
  height: 319px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
#content .serviceblock.left img {
  float: left;
  margin-right: 35px;
}
#content .serviceblock.left .textblock {
  float: right;
}
#content .serviceblock.right {
  padding-bottom: 30px;
}
#content .serviceblock.right img {
  float: right;
  margin-left: 35px;
}
#content .serviceblock.right .textblock {
  float: left;
}
#content .textblock {
  margin-top: 40px;
  width: 680px;
}
#content .textblock h1 {
  margin-bottom: 15px;
  font-size: 30px;
}
#content .textblock p {
  font-size: 18px;
  line-height: 22px;
}
#content .textblock .more {
  margin-top: 35px;
  display: block;
  width: 228px;
  height: 60px;
  background: url('../img/bgbutton.png') no-repeat;
  opacity: 0.65;
}
#content .textblock .more:hover {
  opacity: 1;
}
#content .divider {
  width: 392px;
  height: 42px;
  margin: 30px auto;
  background: url('../img/graph.png') no-repeat;
}
footer {
  background: #e3e3e3;
  width: 100%;
  min-width: 1200px;
}
#logobottom {
  display: block;
  float: left;
  margin: 45px 0 5px 20px;
  width: 260px;
  height: 50px;
  background: url('../img/logo.png') no-repeat;
  -webkit-background-size: 260px 50px;
  background-size: 260px 50px;
}
#menubottom {
  float: left;
  margin: 20px 0 0 150px;
}
#menubottom li {
  position: relative;
  display: inline-block;
  margin-right: 15px;
  vertical-align: top;
}
#menubottom li a {
  font-size: 22px;
  color: #000;
}
#menubottom li a:hover {
  color: #0688cc;
}
#menubottom li.second-level:hover ul {
  display: block;
}
#menubottom li ul {
  display: none;
  position: absolute;
  left: -60px;
}
#menubottom li ul li {
  width: 190px;
  display: block;
  margin: 15px 0 0 0;
  text-align: center;
}
#menubottom li ul li a {
  font-size: 14px;
  padding: 5px;
}
#menubottom li ul li a:hover {
  background: #fff;
  color: #000;
}
#hodlogo {
  display: block;
  float: right;
  margin: 35px 170px 0 0;
  width: 96px;
  height: 59px;
  background: url('../img/hodlogo.png') no-repeat;
}
#copyr {
  text-align: center;
  padding-bottom: 25px;
}
#copyr p {
  font-size: 12px;
}
